body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Verdana', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
}

.deck-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    perspective: 1000px;
}

/* Estilo da Carta */
.card {
    width: 200px;
    height: 300px;
    background: linear-gradient(135deg, #333, #000);
    border: 5px solid #add8e6; /* Azul Claro */
    outline: 3px solid white;    /* Borda Branca externa */
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 150px;
    background-color: #444;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
}

.card-name {
    font-size: 1.2rem;
    color: #add8e6;
    margin: 10px 0;
    text-transform: uppercase;
}

.stats {
    text-align: left;
    font-size: 0.9rem;
}

button {
    padding: 10px 20px;
    background-color: #add8e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}